<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>शालये पाठ्य पुस्तके</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>वर्ग निवडा </ion-label>
    <ion-select
      placeholder="Select One"
      mode="ios"
      interface="popover"
      (ionChange)="selectedClass($event)"
    >
      <ion-select-option value="{{item?.id}}" *ngFor="let item of classList"
        >{{item?.className}}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-card
    *ngFor="let item of textbook"
    (click)="goToDetailPage(item.pdfLink)"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img [src]="item.image" />
        </ion-col>
        <ion-col>
          <ion-text color="danger" class="ion-text-center">
            <h2>वर्ग : {{item.className}}</h2>
          </ion-text>
          <ion-text color="primary" class="ion-text-center">
            <h2>विषय : {{item.subjectName}}</h2>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
